.video-page {
	&__wrap {
		display: grid;
		grid-template-columns: auto 250px;
		grid-column-gap: 30px;

		@media screen and (max-width: $bp-lg) {
			grid-column-gap: 10px;
		}
		@media screen and (max-width: $bp-md) {
			display: block;
		}
	}
	// &__content { }
	&__wrap-player {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 360px;

		position: relative;

		background-color: var(--body-bg);
		border-radius: 4px;
		overflow: hidden;

		z-index: 5;

		&:after {
			position: absolute;
			bottom: 5px;
			right: 5px;
			content: '';

			width: 50px;
			height: 30px;

			background-image: url('../../assets/logo.jpg');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			z-index: 50;
		}

		& span {
			z-index: 6;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%);

			padding: 10px;
			background-color: var(--color-white);
			border-radius: 4px;
			font-weight: bold;
		}
	}
	&__player {
		z-index: 7;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__preview {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		filter: blur(10px);
	}


	&__sidebar {
		height: max-content;
	}
}

@media screen and (max-width: 576px) {
	.video-page__wrap-player {
		height: 260px;
	}
}
